{% extends 'sysadmin/base.html' %}


{% block content %}

<ul class="breadcrumb" id="breadcrumb">
  <li><a href="/sysmain">Home</a></li>
  <li><a href="#">Add Course</a></li>
</ul>

<div class = "container" style="margin-bottom:10%;">
	<div class="row" id="addc-card">
		<div class="col-md-6 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-heading">
                    <h3 class="panel-title" id="panel-title">Add Course</h3>
                </div>
                <div class="panel-body">
					<form action="{% url 'sys_main:addCourse' %}" method="POST">
{% csrf_token %}        <table class="user-table">
                            <tr>
                                <td class="edit-field" style="">{{ form.course_id.label_tag }}</td>
                                <td class="edit-field">{{ form.course_id }}</td>
                            </tr>
                            
                            <tr>
                                <td class="edit-field">{{ form.course_name.label_tag }}</td>
                                <td class="edit-field">{{ form.course_name }}</td>
                            </tr>
                            
                            <tr>
                                <td class="edit-field">{{ form.department.label_tag }}</td>
                                <td class="edit-field">{{ form.department }}</td>
                            </tr>

                            <tr>
                                <td class="edit-field">{{ form.year.label_tag }}</td>
                                <td class="edit-field">{{ form.year }}</td>
                            </tr>

                            <tr>
                                <td class="edit-field">{{ form.semester.label_tag }}</td>
                                <td class="edit-field">{{ form.semester }}</td>
                            </tr>

                            <tr>
                                <td class="edit-field">{{ form.duration.label_tag }}</td>
                                <td class="edit-field">{{ form.duration }}</td>
                            </tr>

                            <tr>
                                <td class="edit-field">{{ form.instructor.label_tag }}</td>
                                <td class="edit-field">{{ form.instructor }}</td>
                            </tr>

                        </table>

                            <button class='button-course btn btn-success'>Save</button>

                        </form>

                            <button class='cancel-course btn btn-danger' data-toggle="modal" data-target="#cancel_course">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="cancel_course" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" name="2">
  
    <div class="modal-dialog" role="document">
        <div class="modal-content">   
          
            <div class="modal-header">
                <h4 class="modal-title" id="confirm_cancel"><strong><center>ARE YOU SURE ?</center></strong></h4>
            </div>
            <br>
             
            <div class="col-sm-12 " align="center">
              <button type="button" class="btn btn-success" id="cancel_yes" data-dismiss="modal" onclick="cancel_course()">Yes</button>
              <button type="button" class="btn btn-danger" id="cancel_no" data-dismiss="modal" style="margin-left:50px;">No</button>
            </div>
            <br>
          <br><br>

        </div>
      
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
    $("ul.nav.navbar-nav.navbar-right").css("display","inline");
</script>
{% endblock %}
