{% extends 'sysadmin/base.html' %}

{% block content %}
  <ul class="breadcrumb" id="breadcrumb">
    <li><a href="#">Home</a></li>
  </ul>
    {% if courses %}

    <div class="view-courses container" style="margin-bottom:10%;">
    <button class='add-course btn btn-success pull-right' onclick="add_course()" style="margin-bottom:2%;">Add Course</button>

    <table class='table table-bordered table-hover table-striped display' id='example'>
      <thead>
          <tr>
            <th style='text-align:center;'>Course Name</th>
            <th style='width:200px;text-align:center;'>Students</th>
          </tr>
      </thead>
    <tbody>
      {% for course in courses %}
      <tr class='gradeA'>
                  <td><strong><span style='border-bottom: 1px solid black;'> {{ course.course_name }} </span></strong><br>
    </td><td style='text-align:center;'><button class='add-button btn btn-success' id = "{{ course.id }}" onclick="register(this.id)">Add</button></td> </tr>
        {% endfor %}
        </tbody>
             <tfoot>
              <tr>
                <th style='text-align:center;'>Course Name</th>
                <th style='width:200px;text-align:center;'>Students</th>
              </tr> 
             </tfoot>
           </table>
           </div>
    {% else %}
      <center><p>No Courses are available.</p></center>
    {% endif %}
{% endblock %}

{% block javascript %}
<script>
    $("ul.nav.navbar-nav.navbar-right").css("display","inline");
</script>
{% endblock %}

