{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Enigma">
        <meta name="keywords" content="Feeder,IIT Bombay,Enigma,Computer Science">
        <meta name="description" content="Feeder is an app to bridge the gap between the teaching team and the students">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Feeder for Instructors</title>
        <!-- Including CSS files -->
        <link href="{% static 'sysadmin/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'sysadmin/css/style.css' %}" rel="stylesheet">

        <!-- Including Javascipt files -->
        <script src = "{% static 'sysadmin/js/jquery.min.js' %}"></script>
        <script src = "{% static 'sysadmin/js/bootstrap.min.js' %}"></script>

        <!-- Including Materialize icons -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/sysmain">Feeder</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right" style="display:none">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/sysmain">home</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="/syslogout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    {% block content %}
    {% endblock %}

    <div id="footer">
        <nav class="navbar navbar-fixed-bottom navbar-default" id="navbar-footer">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="/about">About Feeder</a></li>
                    <li><a href="/reason">Common FAQ's</a></li>
                    <li><a href="/privacy">Privacy</a></li>
                    <li><a href="/terms">Terms</a></li>
                </ul>
            </div>
        </nav>
    </div>

    {% block javascript %}
    {% endblock %}

    </body>
</html>
