{% extends 'sysadmin/base.html' %}

{% block content %}
<div class="container">
<center><h1>Privacy Policy</h1></center>
<div class="initial">
<h4>Feeder recognizes that your privacy is very important and we take it seriously. This Privacy Policy describes Feeder's policies and procedures on the collection, use and disclosure of your information when you use Feeder, via the website, your mobile phone, or through Feeder's applications for mobile devices (e.g., the Feeder Android application). We will not use or share your information with anyone except as described in this Privacy Policy. This Privacy Policy does not apply to information we collect by other means (including offline) or from other sources. Capitalized terms that are not defined in this Privacy Policy have the meaning given them in our <a href="/admin/terms">Terms of Service.</a></h4>
</div>
<div class="initial">
<h3>Information Collection and Use</h3>
<h4>Feeder uses information we collect to analyze how the Service is used, diagnose service or technical problems, maintain security, personalize content, remember information to help you efficiently access your account, monitor aggregate metrics such as total number of visitors, traffic, and demographic patterns, and track User Content and users as necessary to comply with the Digital Millennium Copyright Act and other applicable laws.</h4>
</div>
<br>
<div class="initial">
<h4>When you register for a member account with the Service, you will provide us information about yourself, such as your name and email address. If you create a profile, certain member information, including without limitation your name and any additional content that you submit on your profile will be displayed to other users at your school or in your groups to facilitate user interaction within our services.</h4>
</div>
<br>
<div class="initial">
<h4>By choosing to sign on to the Service through Facebook or another third-party service, you give us permission to access and use your information from that service as permitted by that service, and to store your log-in credentials for that service.

</h4>
</div>
</div>
{% endblock %}

{% block javascript %}
{% if user.is_authenticated %}
<script>
    $("ul.nav.navbar-nav.navbar-right").css("display","inline");
</script>
{% else %}
<script>
    $("ul.nav.navbar-nav.navbar-right").css("display","none");
</script>
{% endif %}
{% endblock %}
