#user-image {
	width : 30%;
	height : 10%;
	margin-left : 35%;
	padding-bottom : 3%;
}

.user-field {
	padding-bottom : 5%;
	padding-left : 1%;
}

.user-table {
	margin-left : 4%;
}

#panel-title {
	text-align : center;
}

#create-account {
	margin-left : 46%;
}

.navbar-nav > li > a {
	padding-top:5px !important; 
	padding-bottom:5px !important;
}

.navbar {
	min-height:26px !important

}

#sign-card {
	margin-top: 5%;
}

#register-table {
	margin-left: 15%;
}

#register-card {
	margin-left: 10%;
	margin-top : 1%;
}

.error-message {
	color : red;
}

.edit-field {
	padding-top: 2%;
}

.user-table {
	margin-left: 8%;
}

.button-course {
	margin-left: 45%;
	margin-top: 3%;
}

.cancel-course {
	margin-left: 44%;
	margin-top: 3%;
}

#addc-card {
	margin-left: -10%;
	margin-top: 3%;
}

.save-deadline {
	margin-left: 50%;
	margin-top: 5%;
}

.feedback-toggle {
	margin-left: 45%;
	margin-top: 2%;
}

.button-feedback {
	margin-bottom: 2%;
}

.move_endsem , .finish{
	margin-top: 4%;
	margin-bottom: 40%;
}

#breadcrumb {
	margin-top: -1%;
}

.button-deadline-toggle_1 {
	margin-left: 36%;
	margin-bottom : 5%;
}

.button-deadline-toggle_2 {
	margin-left: 4%;
	margin-bottom : 5%;
}

.students-toggle {
	margin-left : 45%;
	margin-top: 4%;
}